<title></title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
  src="https://kit.fontawesome.com/2ac05ca176.js"
  crossorigin="anonymous"
></script>

<link
  rel="prefetch"
  href="../fonts/Gilroy-Bold.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="prefetch"
  href="../fonts/Gilroy-SemiBold.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="prefetch"
  href="../fonts/Gilroy-Medium.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>
<link
  rel="prefetch"
  href="../fonts/Gilroy-Regular.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>

<link rel="stylesheet" href="css/libs.min.css" />
<link rel="stylesheet" href="css/app.css" />
