<main class="main">
  <div class="container main__wrapper">
    <img
      id="main-img"
      class="main__scooter-white-img"
      src="../img/samakaBelii.png"
      alt="scooter"
    />
    <img
    id="main-img"
    class="main__scooterBlack-img scooter-black-show"
    src="../img/scooterBlack.png"
    alt="scooter"
  />
    <img
      class="main__scooter-black-img scooter-minBlack-show"
      src="../img/samakat.png"
      alt="scooter"
    />
    <div class="main__info">
      <h1 class="main__info__title">
        Стильный электросамокат с мощным аккумулятором
      </h1>

      <p class="main__info__desc">
        Улучшенная производительность для дальних путешествий. Работает так же
        просто, как и выглядит.
      </p>
    </div>
    <div id="switch" class="switch-button change-color">
      <input class="switch-button-checkbox" type="checkbox"></input>
      <label class="switch-button-label" for=""><span class="switch-button-label-span">Белый</span></label>
    </div>  
  </div>
</main>
